@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"); */

@import 'tailwindcss';

@layer base {

    /* Default font for the page */
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        color: rgb(0, 0, 0);
        /* or your preferred default text color */
        font-size: 16px;
        line-height: 24px;
    }

    /* h2 headings - Libre Baskerville */
    h3 {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE & Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }
}